{
  "files": "*.ts",
  "printWidth": 80,
  "tabWidth": 4,
  "overrides": [
    {
      "files": ["*.sol", ".tsx", ".ts"],
      "options": {
        "plugins": ["prettier-plugin-solidity"],
        "printWidth": 80,
        "tabWidth": 4,
        "useTabs": true,
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "always"
      }
    }
  ]
}
