body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/** Nav Styles */
.nav-container {
  display: flex;
  justify-content: space-between;
}
.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
.logo-container {
  display: flex;
  align-items: center;
}
.farmer-logo {
  max-height: 50px;
}
.nav-title {
  margin-left: 20px !important;
  font-weight: bold;
}
.nav-button {
  height: 45px;
}
.link-text {
  text-decoration: none;
  color: #6d8cfc;
}
.nav-link {
  margin-right: 2rem;
}
.link-text:hover {
  opacity: 0.7;
  transition: opacity 0.25s ease-in-out;
}

.landing-page-title-container {
  display: flex;  
  justify-content: center;
  margin-top: 3rem;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.landing-input {
  margin-top: 1.5rem !important;
  margin-bottom: 1rem !important;
  min-width: 420px !important;
}
.landing-input input {
  text-align: center;
}

.landing-button {
  margin-top: 1.5rem !important;
  margin-bottom: 1rem !important;
}

.farms-container {
  margin-top: 2rem;
}
.toggle-pools {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.reward-container {
  display: flex;
  align-items: center;
}
.reward-icon {
  height: 1.25rem;
  margin-right: 0.5rem;
}
.data-container {
  margin: 1rem 0;
}
.swap-pair {
  margin-bottom: 1rem;
}
.swap-pair-content {
	cursor: pointer;
  display: flex;
}

.settings {
  display: flex !important;
  flex-direction: column;
}
.settings-input {
  margin-bottom: 1.5rem !important;
}
.settings-button {
  display: flex;
  justify-content: flex-start;
}
.farmer-hr {
	opacity: 0.1;
}
.farmer-pair-details {
	display: flex;
}
.farmer-pair-rewards {
	margin: 0 1.5rem;
}
.farmer-add-lp-deposit {
	margin-top: 1rem;
}